* {
    box-sizing: border-box;
    background-color: deepskyblue;
}

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
}

header {
    text-align: center;
}

main {
    text-align: center;
    align-items: center;
    justify-content: center;
}

#start-button {
    align-items: center;
    justify-content: center;
    font-size: x-large;
    background-color: lightgreen;
    max-height: 100vh;
    max-width: 200vh;
    margin: 10vh 0vh 5vh 0vh;
    padding: 10vh 20vh;
    border: none;
    border-radius: 50%;
}

#submit-button {
    align-items: center;
    justify-content: center;
    font-size: x-large;
    background-color: fuchsia;
    max-height: 50vh;
    max-width: 100vh;
    margin: 10vh 0vh 5vh 0vh;
    padding: 10vh 20vh;
    border: none;
    border-radius: 30%;
}

#highscore-button {
    background-color:lightpink;
    font-size: large;
    max-height: 75vh;
    max-width: 125vh;
    border: none;
}

#initials {
    align-items: center;
    font-size: medium;
    border: none;
    max-height: 20vh;
    max-width: 50vh;
    background-color: bisque;
    font-weight: bold;
    font-size: larger;
    padding: 2%;
}

#choice-button {
    font-size: medium;
    border: none;
    background-color: whitesmoke;
    max-height: 50vh;
    max-width: 200vh;
}

#choice-container {
    justify-content: space-between;
    margin-top: 16px;
}

.quiz-content {
    min-height: 100px;
}

.hidden {
    display: none;
}


.score {
    justify-content: space-between;
    margin-top: 16px;
}

.timer {
    font: 20px;
}

#large-font {
    font-size: 3.5em;
    text-align:center;
}


#quiz-question {
    text-align: center;
    font-size: 2em;
    margin-top: 5%;
}


@media screen and (max-width: 1183px) {
    main {
      flex-direction: column;
    }
  
    section {
      background-color: white;
      margin: 20px auto;
      width: 90vw;
    }
}
  
@media screen and (max-width: 504px) {
    .large-font {
      font-size: 130%;
    }
  
    .timer {
      height: 200px;
    }
}